.sticky-wrapper {
  width: 100%;
}

.stuck {
  position: fixed;
  top: 0;
  left: 0;
  &.travel__navigation {
    z-index: 30;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 3rem;
    padding-right: 1rem;
  }
}

.map-stuck {
  @media(max-width: 768px) {
    position: fixed;
    top: 2.875rem;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: -1.875rem;
    &.travel__detail__map__map-wrapper {
      z-index: 25;
    }
  }
  @media(max-width: 480px) {
    top: 5.375rem;
  }
}

.map-list-stuck {
  @media(max-width: 768px) {
    position: fixed;
    top: 15.5rem;
  }
}
