.event-block-wrapper__square {
  margin-top: 100%;
  @media(max-width: 480px) {
    height: 490px;
  }
  .event-block__square {
    position: absolute;
    top: 1rem;
    left: 1rem;
    right: 0;
    bottom: 0;
  }
  .event-image__square {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    transition: all .17s;
    margin: 0;
    @extend .image--filter_four_layer-blend;
  }
  .event-block {
    color: $white;
    padding: 5rem;
    height: 100%;
    @media(max-width: 480px) {
      padding: 2.5rem;
    }
  }
  .event-block__title {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    letter-spacing: 3px;
    line-height: 1.875rem;
    font-weight: bold;
  }
  .event-block__details {
    padding-bottom: 1.5rem;
    font-size: 1.125rem;
    letter-spacing: 2.25px;
    line-height: 1.3125rem;
    .event-block__details-location {
      text-align: right;
    }
  }
  .event-block__excerpt {
    p {
      padding-bottom: 1.5rem;
      line-height: 1.625rem;
      letter-spacing: 2px;
    }
  }
}

.event__detail_subtitle {
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: 2.25px;
  line-height: 3rem;
}

.event__detail__article__copy {
  p {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    line-height: 3rem !important;
  }
  .nf-form-layout {
    .nf-form-fields-required {
      margin-bottom: 1rem;
    }
    .nf-field-element {
      input[type="text"].nf-element,
      input[type="password"].nf-element,
      input[type="number"].nf-element,
      input[type="url"].nf-element,
      input[type="email"].nf-element {
        border: 1px solid $gray;
        padding: 10px;
        height: 50px;
        background-color: $white;
        color: $black;
        &::placeholder {
          color: $black;
        }
      }
    }
  }
}
