.about_call_out {
  font-size: 2.25rem;
  @extend .medium;
  letter-spacing: 4.5px;
  margin-top: 2rem;
  @media(max-width: 768px) {
    font-size: 1rem;
    letter-spacing: 2.25px;
    line-height: 1.5rem;
    @extend .bold;
  }
  p {
    font-size: 2.25rem;
    @extend .medium;
    letter-spacing: 4.5px;
    line-height: 3rem;
    @media(max-width: 768px) {
      font-size: 1rem;
      letter-spacing: 2.25px;
      line-height: 1.5rem;
      @extend .bold;
    }
  }
}

h3.about-h3 {
  font-size: 1.5rem;
  letter-spacing: 3px;
  @extend .medium;
  margin-bottom: 1.1875rem;
}

.about-section {
  @extend .d-flex;
  flex-direction: row;
  margin-bottom: 5.125rem;
  margin-top: 3rem;
  @media(max-width: 786px) {
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  &.left {
    margin-left: -10rem;
    margin-right: -3rem;
    @media(max-width: 786px) {
      margin-left: auto;
      margin-right: auto;
    }
    .about-image {
      margin-right: 2.5rem;
      @media(max-width: 786px) {
        padding-right: 0;
        margin-right: 0;
      }
      img {
        @media(max-width: 768px) {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
  &.right {
    margin-right: -10rem;
    margin-left: -3rem;
    @media(max-width: 786px) {
      margin-right: auto;
      margin-left: auto;
      flex-direction: column-reverse !important;
    }
    .about-image {
      margin-left: 2.5rem;
      @media(max-width: 786px) {
        padding: 0;
        margin-left: 0;
      }
      img {
        @media(max-width: 768px) {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
  .about-copy {
    @extend .d-flex;
    @extend .flex-column;
    justify-content: space-evenly;
  }
}

.row {
  &.cc-row {
    &.archive__navigation-row {
      &.space-between {
        justify-content: space-between;
      }
      &.space-around {
        justify-content: space-around;
      }
      padding: 0 2rem;
      .prev, .next {
        text-transform: uppercase;
      }
      .current {
        @extend .bold;
      }
    }
  }
}
