.about_call_out {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 4.5px;
  @media(max-width: 768px) {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2.5px;
  }
  p {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 4.5px;
    line-height: 1rem;
    @media(max-width: 768px) {
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 2.5px;
      line-height: 1rem;
    }
  }
}

.row {
  &.cc-row {
    &.archive__navigation-row {
      padding: 0 2rem;
      justify-content: space-between;
      .prev, .next {
        text-transform: uppercase;
      }
      .current {
        font-weight: bold;
      }
    }
  }
}
