.travel {
  &.travel__navigation {
    width: 100%;
    .travel__navigation-row {
      padding-left: 0;
      padding-right: 0;
      flex-direction: row;
      justify-content: space-around;
      @media(min-width: 769px) {
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
      }
      .travel__navigation__wrapper {
        @media(max-width: 480px) {
          flex-wrap: wrap;
        }
      }
    }
    .travel__navigation__dropdowns {
      @media(max-width: 480px) {
        min-height: 3rem;
        padding: 0;
      }
    }
    &.sticky-header {
      position: sticky;
      z-index: 1;
      top: calc(-100% + 82px);
    }
    .row {
      background-color: $color__background;
      padding-top: 15px;
      padding-bottom: 15px;
      .navbar {
        padding: 0;
      }
      .btn-secondary {
        border: 0;
        background-color: transparent;
        border-right: $black 1px solid;
        border-radius: 0;
        margin: 1rem;
        padding: 0;
        @media(max-width: 468px) {
          border-right: none;
          margin: 0;
        }
        &.travel__navigation__button {
          border: none;
          margin: .5rem 1rem 0;
        }
        &.travel__navigation__button--near-me {
          margin: .5rem 0;
          &:before {
            font-family: FontAwesome;
            font-size: 2rem;
            content: "\f05b";
            vertical-align: middle;
            transform: rotate(-45deg);
            display: inline-block;          }
        }
        &.travel__navigation__button--browse {
          &:before {
            font-family: FontAwesome;
            font-size: 2rem;
            margin-right: .5rem;
            content: "\f1de";
            vertical-align: middle;
          }
        }
        &.navbar-toggler {
          font-size: 1rem;
          padding-top: .25rem;
        }
      }
      .btn {
        padding: 0;
        @extend .medium;
        font-size: .875rem;
        letter-spacing: 1.75px;
      }
      .dropdown {
        .dropdown-toggle {
          font-size: .875rem;
          letter-spacing: 1.75px;
          &:before {
            content:"";
            display: inline-block;
            height: 100%;
            vertical-align: middle;
          }
          &:after {
            border: 0;
            height: auto;
            width: auto;
            font-family: FontAwesome;
            margin-right: 1.5rem;
            margin-left: .1rem;
            font-size: .75rem !important;
            content: "\f078";
          }
        }
        &.show {
          .dropdown-toggle {
            &:after {
              content: "\f077";
            }
          }
        }
        &.full-width {
          position: static;
          margin-left: 1.5rem;
          margin-right: 1.5rem;
          @media(max-width: 768px) {
            margin: auto 0;
          }
          .dropdown-menu {
            right: 0;
            background-color: $color__background;
            border-radius: 0;
            padding: 1rem;
            a {
              white-space: normal;
              &:hover, &:active {
                background-color: $color__background;
                color: $dark-gray;
              }
            }
            .dropdown-selections {
              height: 28rem;
              columns: 3;
              column-fill: auto;
              overflow: hidden;
              @media(max-width: 480px) {
                height: 50vh;
                columns: 2;
                overflow: scroll;
              }
              .dropdown-item {
                font-size: .875rem;
                letter-spacing: 1.75px;
                padding-bottom: .75rem;
                page-break-inside: avoid;
                break-inside: avoid;
              }
            }
          }
          .menu-feature {
            padding-top: 1rem;
          }
        }
      }
    }
  }
}

.ui-menu-item {
  padding: .5rem 0;
}
