.social-icons {
  .social-icons__cta {
  }

  .social-icons__list {
  }
}

.social-icons__header {
  margin-bottom: .75rem;
  .social-icons__cta__header {
    font-family: $colfax;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    opacity: .6;
    padding-right: 0;
    color: $white;
  }
  .social-icons__list__header {
    list-style: none;
    display: inline-flex;
    padding-right: 1rem;
    margin: 0;
    justify-content: flex-end;
    .social-icons__item__header {
      padding-left: 20px;
      &:first-child {
        padding-left: 0;
      }
      a {
        color: $white;
        opacity: .6;
        i {
          font-size: 1.25rem;
        }
        &:link, &:visited {
          color: $white;
          opacity: .6;
        }
        &:hover, &:active {
          opacity: 1;
        }
      }
    }
  }
}
