
.leaflet-div-icon {
  background: transparent !important;
  border: none !important;
  position: relative !important;
}

.leaflet-popup {
  // bottom: -7px;
  // left: -58px;
}

.leaflet-control-attribution{
  &.leaflet-control {
    @media(max-width: 480px) {
      font-size: .5rem;
    }
  }
}

.cc-map-marker {
  // position: absolute;
  // top: -40px;
  // left: -10px;
  // margin-left: -18px;
  // margin-top: -49px;
}
.element {
  position: absolute;
  top: -15px;
  left: -33px;
  width: 100px;
  height: 100px;
  z-index: -5;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  animation: pulse 5s infinite;
}

.img-icon-anim {
  animation: icon-pulse 5s infinite;
}

$light-brown: #e6e0da;
$dark-brown: #9f8871;
@keyframes pulse {
  0% {
    background-color: rgba($light-brown, .4);
  }
  50% {
    background-color: rgba($dark-brown, .2);
  }
  100% {
    background-color: rgba($light-brown, .4);
  }
}

@keyframes icon-pulse {
  0% {
    filter: invert(.1);
  }
  50% {
    filter: invert(.6);
  }
  100% {
    filter: invert(.1);
  }
}
