$feature__color:          $black;
$feature__background:     $white;
$feature__border__color:  $white;

// .feature {
//   position: relative;
//   height: 340px;
//   width: 100%;
//   .feature__image {
//     height: 100%;
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: top;
//     transition: all .17s;
//     margin: 0;
//     @extend .image--filter_four_layer-blend;
//   }
//   .feature__body {
//     overflow: hidden;
//     .feature__copy {
//       height: 100%;
//       overflow: hidden;
//     }
//   }
//   .feature__category-line {
//     display: block;
//     border-right: $feature__border__color solid 2px;
//     position: absolute;
//   }
//   .feature__category-block {
//     @extend .d-flex;
//     @extend .justify-content-start;
//     .feature__category-block__category-image {
//     }
//     .feature__category-block__category-details {
//       display: inline-block;
//       color: $white;
//       .feature__category-block__category-type {
//         @extend .medium;
//         font-size: .625rem;
//         letter-spacing: 3px;
//         text-transform: uppercase;
//       }
//       .feature__category-block__category-info {
//         @extend .bold;
//         font-size: .75rem;
//         letter-spacing: 8px;
//         text-transform: uppercase;
//       }
//     }
//   }
//   .feature__link {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     z-index: 15;
//   }
//   //square
//   &.feature-1-4 {
//     .feature__filter {
//       // @extend .image--filter;
//       // @extend .image--filter_position-absolute_top_left;
//     }
//     .feature__category-line {
//       bottom: 0;
//       left: 0;
//       height: 19.974375rem;
//       width: 2.079375rem;
//     }
//     .feature__body {
//       position: absolute;
//       bottom: 0;
//       left: 0;
//       background: $feature__background;
//       color: $feature__color;
//       width: 100%;
//       padding: 2rem;
//       height: 9.9875rem;
//       margin: 0;
//       .feature__copy {
//         .feature__title {
//           font-size: 1rem;
//           @extend .medium;
//           line-height: 1.1875;
//           margin-bottom: .6rem;
//         }
//         .feature__text {
//           font-size: .75rem;
//           line-height: 1.25rem;
//           letter-spacing: 1.5px
//         }
//       }
//       @media(max-width: 768px) {
//         bottom: -5%;
//       }
//     }
//     .feature__category-block {
//       margin-top: -20rem;
//       margin-left: .5rem;
//       height: 40px;
//       .feature__category-block__category-image {
//       }
//       .feature__category-block__category-details {
//         .feature__category-block__category-type {
//         }
//         .feature__category-block__category-info {
//         }
//       }
//     }
//   }
//   //feature 1/4 tall
//   &.feature_1-4__tall {
//     height: 720px;
//     .feature__filter {
//       // @extend .image--filter;
//       // @extend .image--filter_position-absolute_top_left;
//     }
//     .feature__category-line {
//       bottom: 0;
//       left: 0;
//       height: 43.625rem;
//       width: 2.25rem;
//     }
//     .feature__body {
//       position: absolute;
//       bottom: 0;
//       left: 0;
//       background: $feature__background;
//       color: $feature__color;
//       width: 100%;
//       padding: 2.9rem 2.5rem;
//       height: 15.1875rem;
//       margin: 0;
//       .feature__title {
//         font-size: 1rem;
//         @extend .medium;
//         line-height: 1.1875;
//         margin-bottom: .6rem;
//       }
//       .feature__text {
//         display: block;
//         font-size: .75rem;
//         line-height: 1.25rem;
//         letter-spacing: 1.5px
//       }
//     }
//     .feature__category-block {
//       padding: 3% 0 0 3%;
//       width: 250px;
//       .feature__category-block__category-image {
//       }
//       .feature__category-block__category-details {
//         .feature__category-block__category-type {
//         }
//         .feature__category-block__category-info {
//         }
//       }
//     }
//   }
//   // 1/2 large
//   &.feature_1-2 {
//     height: 720px;
//     .feature__filter {
//       @extend .image--filter;
//       @extend .image--filter_position-absolute_top_left;
//       -webkit-clip-path: polygon(100% 100%, 0% 100%, 0% 0%, 100% 0%, 100% 11%, 6% 11%, 6% 94%, 100% 94%);
//       clip-path: polygon(100% 100%, 0% 100%, 0% 0%, 100% 0%, 100% 11%, 6% 11%, 6% 94%, 100% 94%);
//     }
//     .feature__category-line {
//       border: 2px solid $white;
//       border-right: none;
//       height:83%;
//       width: 94%;
//       top: 5.1rem;
//       left: 2.2rem;
//     }
//     .feature__body {
//       position: absolute;
//       bottom: 0;
//       left: 0;
//       background: $feature__background;
//       color: $feature__color;
//       width: 27.75rem;
//       padding: 2.8rem 3.5rem;
//       height: 260px;
//       margin: 0;
//       .feature__title {
//         font-size: 2rem;
//         @extend .medium;
//         line-height: 1.1875;
//         margin-bottom: .6rem;
//         @media (max-width: 768px) {
//         }
//       }
//       .feature__text {
//         display: none;
//       }
//       @media(max-width: 768px) {
//         width: 100%;
//       }
//     }
//     .feature__category-block {
//       padding: 2rem 0 0 2.5rem;
//       .feature__category-block__category-image {
//       }
//       .feature__category-block__category-details {
//         .feature__category-block__category-type {
//         }
//         .feature__category-block__category-info {
//         }
//       }
//     }
//   }
//   // 2/1 long
//   &.feature_2-1-long {
//     height: 340px;
//     .feature__image {
//       width: 100%;
//     }
//     .feature__filter {
//       // @extend .image--filter;
//       // @extend .image--filter_position-absolute_top_left;
//     }
//     .feature__category-line {
//       min-height:89%;
//       top: 11%;
//       left: 2.8rem;
//     }
//     .feature__body {
//       position: absolute;
//       bottom: 0;
//       right: 0;
//       background: $feature__background;
//       color: $feature__color;
//       width: 47%;
//       padding: 2.625rem 2.6875rem;
//       height: 56%;
//       margin: 0;
//       overflow: hidden;
//       @media(max-width: 480px) {
//         padding: 1.625rem 1.6875rem;
//       }
//       .feature__title {
//         font-size: 1rem;
//         @extend .medium;
//         line-height: 1.1875rem;
//         margin-bottom: .6rem;
//       }
//       .feature__text {
//         font-size: .75rem;
//         line-height: 1.25rem;
//         letter-spacing: 1.5px
//       }
//     }
//     .feature__category-block {
//       padding: 2.2rem 0 0 1rem;
//       .feature__category-block__category-image {
//       }
//       .feature__category-block__category-details {
//         .feature__category-block__category-type {
//         }
//         .feature__category-block__category-info {
//         }
//       }
//     }
//   }
//   &.feature_mobile {
//     height: 520px;
//     .feature__image {
//       background-position: center;
//       @extend .image--filter_four_layer-blend;
//     }
//     .feature__filter {
//       @extend .image--filter_position-absolute_top_left;
//       @extend .image--filter;
//       -webkit-clip-path: polygon(100% 100%, 0% 100%, 0% 0%, 100% 0%, 100% 11%, 11% 11%, 11% 94%, 100% 94%);
//       clip-path: polygon(100% 100%, 0% 100%, 0% 0%, 100% 0%, 100% 11%, 11% 11%, 11% 94%, 100% 94%);
//     }
//     .feature__category-line {
//       border: 2px solid $white;
//       border-right: none;
//       height:83%;
//       width: 94%;
//       top: 11%;
//       left: 11%;
//     }
//     .feature__body {
//       position: absolute;
//       bottom: 0;
//       left: 0;
//       background: $feature__background;
//       color: $feature__color;
//       width: 27.75rem;
//       padding: 2.8rem 3.5rem;
//       max-height: 14.1875rem;
//       margin: 0;
//       .feature__title {
//         font-size: 1rem;
//         @extend .medium;
//         line-height: 1.1875;
//         margin-bottom: .6rem;
//         @media (max-width: 768px) {
//           font-size: 1.5rem;
//           line-height: 2rem;
//         }
//       }
//       .feature__text {
//         display: none;
//       }
//       @media(max-width: 768px) {
//         width: 100%;
//       }
//     }
//     .feature__category-block {
//       padding: 3% 0 0 12%;
//       .feature__category-block__category-image {
//       }
//       .feature__category-block__category-details {
//         .feature__category-block__category-type {
//         }
//         .feature__category-block__category-info {
//         }
//       }
//     }
//   }

// }

.feature-block__mobile {
  .slick-dots {
    bottom: 5rem;
    li {
      button {
        &:before {
          color: $white;
        }
      }
    }
    li.slick-active {
      button {
        &:before {
          color: $white;
        }
      }
    }
  }
}

.feature__column {
  &:first-child{
    margin-bottom: 2.5rem;

    .aspect-ratio__2_1 {
      @include media-breakpoint-up(md) {
        padding-top: calc(50% - 2.5rem);
      }
    }
  }
}

.aspect-ratio__1_1 {
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  position: relative;
  margin-bottom: 2em;
}

.aspect-ratio__3_1 {
  height: 0;
  overflow: hidden;
  padding-top: 430px;
  position: relative;
}

.aspect-ratio__2_1 {
  height: 0;
  overflow: hidden;
  padding-top: 296px;
  position: relative;

  @include media-breakpoint-up(md) {
    padding-top: 50%;
  }
}

.aspect-ratio_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .feature-block {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;

    .feature {
      position: relative;

      &.feature-1_3 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 66% 34%;

        .feature__category-block {
          position: absolute;
          top: 0;
          left: 0;
          padding: 5px;
          text-transform: uppercase;
          background: $feature__background;
          color: $feature__color;
          font-family: $colfax-medium;
          font-size: 1.1em;
          line-height: 1;
          letter-spacing: 0.125em;
          vertical-align: middle;
          box-shadow: 5px 5px 4px rgba($black, 0.25);

          @include media-breakpoint-up(md) {
            top: 25px;
          }
        }

        .feature__image {
          width: 100%;
        }

        .feature__body {
          background: $feature__background;
          color: $feature__color;
          .feature__copy {
            padding: 0.5em;

            @include media-breakpoint-up(md) {
              padding: 1.5em;
            }

            .feature__subject {
              margin-bottom: 0.2em;
              font-size: 0.75em;

              @include media-breakpoint-up(md) {
                margin-bottom: 0.5em;
                font-size: 1em;
              }

              @include media-breakpoint-up(lg) {
                margin-bottom: 1.2em;
                font-size: inherit;
              }
            }

            .feature__title {
              font-size: 0.9rem;

              @include media-breakpoint-up(md) {
                font-size: 1rem;
              }

              @include media-breakpoint-up(lg) {
                font-size: 1.5rem;
              }

              @extend .medium;
              line-height: 1.1875;
              margin-bottom: .6em;
            }
            .feature__text {
              font-size: .75em;
              line-height: 1.25em;
              letter-spacing: 1.5px
            }
          }
        }
      }

      &.feature-3_1 {
        display: grid;
        grid-template-columns: 66% 34%;
        grid-template-rows: 1fr;

        .feature__category-block {
          position: absolute;
          top: 25px;
          left: 0;
          width: 90px;
          padding: 5px;
          text-transform: uppercase;
          background: $feature__background;
          color: $feature__color;
          font-family: $colfax-medium;
          font-size: 1.1em;
          line-height: 1;
          letter-spacing: 0.125em;
          vertical-align: middle;
        }

        .feature__image {
          width: 100%;
          object-fit: cover;
          object-position: 0 0;
        }

        .feature__body {
          background: $feature__background;
          color: $feature__color;
          .feature__copy {
            padding: 0.5em;

            @include media-breakpoint-up(md) {
              padding: 1.5em;
            }

            .feature__subject {
              margin-bottom: 0.2em;
              font-size: 0.75em;

              @include media-breakpoint-up(md) {
                margin-bottom: 1.2em;
                font-size: inherit;
              }
            }

            .feature__title {
              font-size: 1rem;
              @include media-breakpoint-up(md) {
                font-size: 2rem;
              }
              @extend .medium;
              line-height: 1.1875;
              margin-bottom: .6em;
            }
            .feature__text {
              font-size: .75em;
              line-height: 1.25em;
              letter-spacing: 1.5px
            }
          }
        }
      }

      &.feature-2_1 {
        display: grid;
        grid-template-rows: 66% 34%;
        grid-template-columns: 1fr;

        .feature__category-block {
          position: absolute;
          top: 25px;
          left: 0;
          width: 90px;
          padding: 5px;
          text-transform: uppercase;
          background: $feature__background;
          color: $feature__color;
          font-family: $colfax-medium;
          font-size: 1.1em;
          line-height: 1;
          letter-spacing: 0.125em;
          vertical-align: middle;
        }

        .feature__image {
          width: 100%;
          object-fit: cover;
          object-position: 0 0;
        }

        .feature__body {
          background: $feature__background;
          color: $feature__color;
          .feature__copy {
            padding: 0.5em;

            @include media-breakpoint-up(md) {
              padding: 1em;
              display: flex;
            }

            .feature__subject {
              margin-bottom: 0.2em;
              font-size: 0.75em;

              @include media-breakpoint-up(md) {
                margin-right: 1.2em;
                font-size: inherit;
              }
            }

            .feature__title {
              font-size: 1rem;

              @include media-breakpoint-up(md) {
                font-size: 0.75rem;
              }

              @include media-breakpoint-up(lg) {
                font-size: 1.25rem;
              }

              @extend .medium;
              line-height: 1.1875;
              margin-bottom: .6em;
            }

            .feature__text {
              font-size: .75em;
              line-height: 1.25em;
              letter-spacing: 1.5px
            }
          }
        }
      }
    }
  }
}
