//Colfax
@font-face {
  font-family: 'Colfax-Regular';
  font-weight: normal;
  src: url('../../dist/fonts/ColfaxWebRegular.eot');
  src: url('../../dist/fonts/ColfaxWebRegular.eot?#iefix') format('embedded-opentype'),
  url('../../dist/fonts/ColfaxWebRegular.woff') format('woff'),
  url('../../dist/fonts/Colfax-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Colfax-RegularItalic';
  font-weight: normal;
  font-style: italic;
  src: url('../../dist/fonts/ColfaxWebRegularItalic.eot');
  src: url('../../dist/fonts/ColfaxWebRegularItalic.eot?#iefix') format('embedded-opentype'),
  url('../../dist/fonts/ColfaxWebRegularItalic.woff') format('woff'),
  url('../../dist/fonts/Colfax-RegularItalic.otf') format('opentype');
}


@font-face {
  font-family: 'Colfax-Medium';
  font-weight: 500;
  font-style: normal;
  src: url('../../dist/fonts/ColfaxWebMedium.eot');
  src: url('../../dist/fonts/ColfaxWebMedium.eot?#iefix') format('embedded-opentype'),
  url('../../dist/fonts/ColfaxWebMedium.woff') format('woff'),
  url('../../dist/fonts/Colfax-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Colfax-MediumItalic';
  font-weight: 500;
  font-style: italic;
  src: url('../../dist/fonts/ColfaxWebMediumItalic.eot');
  src: url('../../dist/fonts/ColfaxWebMediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../../dist/fonts/ColfaxWebMediumItalic.woff') format('woff'),
  url('../../dist/fonts/Colfax-MediumItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Colfax-Bold';
  font-weight: bold;
  font-style: normal;
  src: url('../../dist/fonts/ColfaxWebBold.eot');
  src: url('../../dist/fonts/ColfaxWebBold.eot?#iefix') format('embedded-opentype'),
  url('../../dist/fonts/ColfaxWebBold.woff') format('woff'),
  url('../../dist/fonts/Colfax-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Colfax-BoldItalic';
  font-weight: bold;
  font-style: italic;
  src: url('../../dist/fonts/ColfaxWebBoldItalic.eot');
  src: url('../../dist/fonts/ColfaxWebBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../../dist/fonts/ColfaxWebBoldItalic.woff') format('woff'),
  url('../../dist/fonts/Colfax-BoldItalic.otf') format('opentype');
}
