body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: $font-size;
	line-height: $font__line-height-body;
  background-color: $color__background;
  color: $color__text-main;
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
}

.cc-container {
  max-width: 1440px;
  margin: 0 auto;
}

.row {
  &.cc-row {
    padding: 15px;

    @include media-breakpoint-up(md) {
      padding: 0 15px;
    }
  }
}

.test-background {
  background: $color__test;
}

.ad {
  height: 430px;
  margin-bottom: 1em;

  @media screen and (min-width: 1024px){
    margin-bottom: 0;
  }

  .widget_adbutler {
    display: flex;
    justify-content: center;
  }
}

a {
  color: $color__link;
  &:link, &:visited {
    color: $color__link;
  }
  &:hover, &:active {
    color: $color__link--active;
    text-decoration: none;
  }
	&.dark {
		color: $color__text-main;
    text-align: center;
    &:link, &:visited {
      color: $color__text-main;
    }
    &:hover, &:active {
      color: $color__link--active;
      text-decoration: none;
    }
	}
  &.invert {
    color: $white;
    &:link, &:visited {
      color: $white;
    }
    &:hover, &:active {
      color: $light-gray;
      text-decoration: none;
    }
  }
}

.block__link {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 15;
}

.posts-navigation {
  width: 100%;
}

.medium {
  font-family: $colfax-medium;
  font-weight: 500;
}

.bold {
  font-family: $colfax-bold;
  font-weight: 700;
}

b, strong {
	@extend .bold;
}

em {
	font-family: 'Colfax-RegularItalic';
}

.nav-links {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  text-transform: uppercase;
  @extend .medium;
}

.small_text {
  font-size: .75rem;
}

.image--filter {
  min-width: 100%;
  min-height: 100%;
  background: rgba($black, .2);
}

.image--filter_position-absolute_top_left {
  position: absolute;
  top: 0;
  left: 0;
}

.image--filter_four_layer-blend {
  background-blend-mode: normal, soft-light, normal, normal;
}

.fa {
	font-size: 1rem;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
}
