$travel--color: $white;
$travel--background--color: $black;

.travel {
  &.travel__header {
    padding-bottom: 2rem;
  }
  &.travel__header-color {
    background-color: $travel--background--color;
  }
  .cc-row {
    padding-top: 2.5rem;
    @media(max-width: 768px) {
      padding-top: 0;
    }
  }
  .travel__header {
    text-align: center;
    color: $travel--color;
    .travel__header__title {
      font-size: 2.25rem;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 4.5px;
    }
    .travel__header__subtitle {
      letter-spacing: 2px;
    }
  }
  &.travel__detail__header {
    margin: 2rem 1rem 1rem;
    width: 100%;
  }
  .travel__detail__text {
    overflow: hidden;
  }
}
